@page "/UploadModel"
@using Microsoft.Extensions.Localization
@using global::UploadModel.Localization
@inject IStringLocalizer<UploadModelResource> L
@{
}
<h1>UploadModel</h1>
<p>@L["SamplePageMessage"]</p>