@page
@using Microsoft.Extensions.Localization
@using UploadModel.Localization
@model UploadModel.Web.Pages.UploadModel.IndexModel
@inject IStringLocalizer<UploadModelResource> L
@{
}
<h1>UploadModel</h1>
<p>@L["SamplePageMessage"]</p>
